/* PALETTE */
:root {
  --white: #ffffff;
  --black: #070707;
  --grey: #999999;
  font-family: Helvetica, sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------- GLOBAL STYLES ----------------B*/
body {
  background-color: var(--black);
  color: var(--white);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* --------------NAVBAR RRSS---------------- */

.rrss {
  padding: 0 80px;
}

.rrss > ul > li {
  height: 5vh;
  width: auto;
  display: flex;
  justify-content: right;
  padding: 10px;
}

.rrss img {
  height: 20px;
  width: auto;
  padding: 0 10px;
}

/* ----------------------NAVBAR 2------------------- */
/*preguntar*/

.menutotal {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  height: 8vh;
  width: auto;
  padding: 0 80px;
}

.menutotal:hover {
  text-decoration: underline; /*preguntar*/
}

.lupa img {
  height: 20px;
  width: auto;
  margin: 20px;
  filter: invert();
}

.menu {
 
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 10px;
}

.dayseeker:hover {
  text-decoration: underline; /*preguntar*/
}

.dayseeker {
  font-size: 40px;
  padding: 30px;
  margin: auto;
}

.cesta {
  display: flex;
  justify-content: right;
}

.cesta img {
  height: 20px;
  width: auto;
  margin: 20px;
  filter: invert();
}

/*  --------------- COLOCACION IMAGEN CABECERA (SECTION) ------------- */

.darkSun {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

.darkSun img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* la imagen se ajusta sin deformarse */
}

/*---------------------ANIMACIÓN------------------*/

/*---------porque no se queda entro de la caja al inicio?------------------*/

@keyframes encoger {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.darkSun {
  animation: encoger 1s forwards;
}

/* ------------- MAIN ------------- */

h2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 60px;
  font-size: 30px;
}

.articulos > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.articulos > ul > li {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.articulos img {
  height: 300px;
  width: auto;
  object-fit: cover;
}

/*----------------VIDEO-----------------*/

button {
  border: 4px solid var(--black);
  padding: 5px 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px;
}

button::before {
  content: "↦";
}

.posicionamientoBoton {
  position: relative;
  left: 50%;
  bottom: 300px;
}

.video {
  padding: 40px 0;
}

.posicionamientoTexto {
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0 10px;
  color: black;
  position: relative;
  left: 35%;
  bottom: 300px;
}

/*------------------FOOTER-----------------*/

footer {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(./assets/images/cosmos.webp);
  background-size: cover;
  background-position: center;
  color: var(--white);
}

.cajaFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  color: var(--white);
  align-self: self-start;
}

.columnaUno,
.columnaDos {
  display: flex;
  align-items: center;
}

.columnaDos ul {
  display: flex;
  flex-direction: column;
}

.rrss li {  /*rrssFooter*/
  display: flex;
  gap: 10px;
}
















